/* Variables
/* ---------------------------------------------------------- */

:root {
	/* Colors */
	--color-white: #fff;
	--color-gray-0: #f8f9fa;
	--color-gray-1: #f1f3f5;
	--color-gray-2: #e9ecef;
	--color-gray-3: #dee2e6;
	--color-gray-4: #ced4da;
	--color-gray-5: #adb5bd;
	--color-gray-6: #868e96;
	--color-gray-7: #495057;
	--color-gray-8: #343a40;
	--color-gray-9: #212529;
	--colo-black: #000;

	--color-primary: var(--ghost-accent-color);
	--color-text: var(--color-gray-9);
	--color-text-light: var(--color-gray-8);
	--color-text-lighter: var(--color-gray-7);
	--color-bg: var(--color-gray-0);
	--color-border: var(--color-gray-3);
	--color-input: var(--color-white);
	--color-success: #2f9e44;
	--color-error: #f03e3e;

	/* Spacings */
	--spacing-01: 0.125rem;
	--spacing-02: 0.25rem;
	--spacing-03: 0.5rem;
	--spacing-04: 0.75rem;
	--spacing-05: 1rem;
	--spacing-06: 1.5rem;
	--spacing-07: 2rem;
	--spacing-08: 2.5rem;
	--spacing-09: 3rem;
	--spacing-10: 4rem;
	--spacing-11: 5rem;
	--spacing-12: 6rem;
	--spacing-13: 10rem;
	--spacing-gutter: var(--spacing-06);

	/* Sizes */
	--size-header-logo: 50px;
	--size-container: 1200px;
	--size-container-md: 1000px;
	--size-container-reader: 720px;

	/* Line height */
	--line-height-heading: 1.2;
	--line-height-body: 1.4;

	/* Font size */
	--font-size-xs: clamp(0.6875rem, calc(0.59375rem + 0.1953125vw), 0.75rem);
	--font-size-sm: clamp(0.8125rem, calc(0.625rem + 0.390625vw), 0.9375rem);
	--font-size-base: clamp(1rem, calc(0.8125rem + 0.390625vw), 1.125rem);
	--font-size-md: clamp(1.1875rem, calc(0.90625rem + 0.5859375vw), 1.375rem);
	--font-size-lg: clamp(1.4375rem, calc(1.15625rem + 0.5859375vw), 1.625rem);
	--font-size-xl: clamp(1.75rem, calc(1.375rem + 0.78125vw), 2rem);
	--font-size-2xl: clamp(2.0625rem, calc(1.40625rem + 1.3671875vw), 2.5rem);
	--font-size-3xl: clamp(2.5rem, calc(1.75rem + 1.5625vw), 3rem);
	--font-size-4xl: clamp(3rem, calc(2.0625rem + 1.953125vw), 3.625rem);

	/* Cards */
	--card-padding: var(--spacing-06);
	--card-image-size: 44px;

	/* Border radius */
	--border-radius: var(--spacing-05);
	--border-radius-pill: calc(var(--border-radius) * Infinity);
}

@media (min-width: 550px) {
	:root {
		/* Spacings */
		--spacing-gutter: var(--spacing-07);
	}
}

@media (min-width: 768px) {
	:root {
		/* Spacings */
		--spacing-gutter: var(--spacing-08);
	}
}
