.card {
	--card-padding: var(--spacing-06);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	background-color: var(--bg-color, #fff);
	transition: 0.2s ease;
}

.card:hover {
	transform: translateY(-6px);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06),
		0 28px 24px -24px rgba(0, 0, 0, 0.2);
}

.card--post {
	border-bottom: 1px solid var(--color-border);
}

.card__media {
	padding: var(--card-padding);
}

.card__media img,
.card__media picture {
	display: inline-block;
	width: auto;
	height: var(--card-image-size);
}

.card__media .icon {
	width: var(--card-image-size);
	height: var(--card-image-size);
	color: var(--color-primary);
}

[data-card-image="Full width"] .card__media {
	height: 200px;
	padding: 0;
}

[data-card-image="Full width"] .card__media img,
[data-card-image="Full width"] .card__media picture {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: var(--card-padding);
}

.card__title {
	margin-bottom: var(--spacing-03);
}

.card__description {
	display: -webkit-box;
	max-width: 85%;
	opacity: 0.75;
	overflow: hidden;
	hyphens: auto;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
