.card {
	display: flex;
	justify-content: space-between;
	height: 100%;
	transition: 0.2s ease;
	overflow: hidden;
}

.card:not(.card--list) {
	background-color: var(--bg-color, #fff);
	border-radius: var(--border-radius);
}

.card:not(.card--horizontal) {
	flex-direction: column;
}

.card:not(.card--list):hover {
	transform: translateY(-6px);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06),
		0 28px 24px -24px rgba(0, 0, 0, 0.2);
}

.card--tag {
	--card-padding: var(--spacing-07);
}

.card--border {
	border: 1px solid var(--color-border);
}

.card--list {
	border-bottom: 1px solid var(--color-border);
}

.card__media {
	position: relative;
	padding: var(--card-padding);
}

.card--horizontal .card__media {
	padding-inline-end: 0;
}

.card__media img,
.card__media picture {
	display: inline-block;
	width: auto;
	height: var(--card-image-size);
}

.card__media .icon {
	width: var(--card-image-size);
	height: var(--card-image-size);
	color: var(--color-primary);
}

[data-card-image="Hidden"] .card__media {
	display: none;
}

[data-card-image="Full width"] .card__media {
	height: var(--card-image-full-h, 200px);
	padding: 0;
}

[data-card-image="Full width"] .card--horizontal .card__media {
	flex: 0 1 var(--card-image-full-w, 130px);
	height: unset;
}

[data-card-image="Full width"] .card--list .card__media {
	margin: var(--card-padding) 0 var(--card-padding) var(--card-padding);
	aspect-ratio: 1/1;
}

[data-card-image="Full width"] .card__media img,
[data-card-image="Full width"] .card__media picture {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin: auto 0;
	padding: var(--card-padding);
}

.card:not(.card--horizontal) .card__content {
	justify-content: flex-end;
}

.card__title {
	margin-bottom: var(--spacing-03);
}

.card__title .icon {
	width: 1em;
	height: 1em;
	margin-bottom: -0.1em;
}

.card__description {
	display: -webkit-box;
	max-width: 85%;
	margin-bottom: 0;
	font-size: var(--font-size-sm);
	opacity: 0.75;
	overflow: hidden;
	hyphens: auto;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.card--list .card__description {
	max-width: 100%;
}
