.form-control {
	display: block;
	font-size: 1rem;
	line-height: 1.5;
	padding: var(--spacing-03) var(--spacing-06);
	border: 1px solid transparent;
	border-radius: var(--border-radius-pill);
	background-color: var(--color-input);
	appearance: none;
}
