{{!< default}}

{{#post}}

<article class="{{post_class}}">
	{{#match @page.show_title_and_feature_image}}
		<header>
			<h1>{{title}}</h1>
			{{#if custom_excerpt}}
				<p>{{custom_excerpt}}</p>
			{{/if}}
			{{> "feature-image"}}
		</header>
	{{/match}}

	<section>
		{{content}}
	</section>
</article>

{{/post}}
