.nav {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav__item:not(.btn) {
	display: flex;
	padding: var(--spacing-03);
}

.nav__item + .nav__item {
	margin-inline-start: 10px;
}
