.grid--quick-links {
	--grid-gap: var(--spacing-06);
}

@media (min-width: 768px) {
	.grid--quick-links {
		--columns: 2;
	}
}

@media (min-width: 1025px) {
	.grid--quick-links {
		--columns: 4;
	}
}
