.post-page {
	margin: var(--spacing-10) 0;
}

.post__header,
.post__details,
.post__content,
.post__prev-next {
	margin-bottom: var(--spacing-10);
}

.post__title {
	font-weight: 800;
}

.post__date {
	margin-top: var(--spacing-06);
	color: var(--color-text-lighter);
}

.post__image figcaption {
	margin-top: var(--spacing-04);
}

.post__prev-next {
	display: flex;
	justify-content: space-between;
	gap: var(--spacing-gutter);
}

.post__prev-next .prev,
.post__prev-next .next {
	flex: 1;
	display: grid;
	align-items: center;
	gap: var(--spacing-02);
}

.post__prev-next small {
	color: var(--color-secondary-light);
}

.post__prev-next .icon {
	width: 1em;
	height: 1em;
}

.post__prev-next h4 {
	margin-bottom: 0;
}

.post__prev-next .next {
	text-align: end;
}
